.root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
    max-width: 800px;
    width: 100%;
}

.div-content {
  max-width: 800px;
  width: 100%;
  height: 100%;
  background-color: #00000010;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px
}
